---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Problem from "../components/Problem.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Verticals from "../components/Verticals.astro";
import Pricing from "../components/Pricing.astro";
import Faq from "../components/Faq.astro";
import AccessForm from "../components/AccessForm.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Nav />
  <main>
    <Hero />
    <Problem />
    <HowItWorks />
    <Verticals />
    <Pricing />
    <Faq />
    <AccessForm />
  </main>
  <Footer />
</Base>
