---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import EntidadesEstado from "../components/EntidadesEstado.astro";
import Problem from "../components/Problem.astro";
import MarketIntel from "../components/MarketIntel.astro";
import SpeedSection from "../components/SpeedSection.astro";
import HowItWorks from "../components/HowItWorks.astro";
import ROISection from "../components/ROISection.astro";
import CustomDevCTA from "../components/CustomDevCTA.astro";
import AccessForm from "../components/AccessForm.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Nav />
  <main>
    <Hero />
    <MarketIntel />
    <EntidadesEstado />
    <Problem />
    <SpeedSection />
    <HowItWorks />
    <ROISection />
    <CustomDevCTA />
    <AccessForm />
  </main>
  <Footer />
</Base>
